<div id="<%= @box.persisted? ? "box-#{@box.id}" : "newBox" %>" class="pt-1 m-2 w-96 rounded-lg shadow-md" data-controller="boxes" style="<%= "background-color: #{@box.color}; color: #{text_color_transformed(@box.color)}" %>" data-target="boxes.boxDiv" data-id="<%= @box.id %>">
  <%= form_with model: @box, data: { target: "boxes.form" }, remote: true do |f| %>
    <div class="flex align-bottom flex-wrap justify-between mr-2 ml-2">
      <%= f.color_field :color, class: "w-5 mr-2", style: "background-color: #{@box.color}", data: { action: "#{submit_action} change->boxes#updateColor", target: "boxes.colorPicker" } %>
      <% if @box.persisted? %>
        <%= link_to @box, method: :delete, remote: true do %>
          <i class="fas fa-times"></i>
        <% end %>
      <% else %>
        <%= f.button :submit, data: { disable_with: "<i class='fas fa-spinner'></i>" } do %>
          <i class="fas fa-save"></i>
        <% end %>
      <% end %>
    </div>
    <div class="mx-5">
      <%= f.text_field :name, id: "#{"newBoxName" unless @box.persisted?}", class: "w-full my-1 bg-transparent outline-none border", style: "border-color: #{ @box.name.present? ? "transparent" : border_color_transformed(@box.color)}", data: { action: @box.persisted? ? "input->boxes#submit" : nil, target: "boxes.name" }, required: true %>
      <%= f.fields_for :boxable, @box.boxable do |boxable_form| %>
        <%= boxable_form.rich_text_area :rich_text, id: "#{"newBoxRichText" unless @box.persisted?}", class: "mb-4 bg-transparent w-full h-full", style: "border-color: #{@box.boxable.rich_text.body&.to_plain_text.present? ? "transparent" : border_color_transformed(@box.color)}", data: { action: @box.persisted? ? "input->boxes#submit" : nil, target: "boxes.richText" } %>
      <% end %>
    </div>
  <% end %>
</div>