<%# overflow-hidden flex-col %>
<div class="pt-1 m-2 w-96 rounded-lg" data-controller="boxes" style="<%= "background-color: #{@box.color}; color: #{text_color_transformed(@box.color)}" %>">
  <%= form_with model: @box, class: "" do |f| %>
    <div class="flex align-bottom flex-wrap justify-between mr-2 ml-2">
      <input type="color" data-id="<%= @box.id %>" value="<%= @box.color %>" class="w-5 mr-2" data-action="input->boxes#updateBoxColor" data-target="boxes.boxColor" style="<%= "background-color: #{@box.color}" %>">
      <% if @box.persisted? %>
        <div>
          <a href="#" data-id="<%= @box.id %>%" ><i class="fas fa-angle-up"></i></a>
          <a href="#" data-id="<%= @box.id %>%" ><i class="fas fa-angle-double-up"></i></a>
          <a href="#" data-id="<%= @box.id %>%" ><i class="fas fa-angle-double-down"></i></a>
          <a href="#" data-id="<%= @box.id %>%" ><i class="fas fa-angle-down"></i></a>
        </div>
        <a href="#" data-reflex="click->BoxesReflex#delete_box" data-id="<%= @box.id %>%" ><i class="fas fa-times"></i></a>
      <% else %>
        <%= button_tag :submit do %>
          <i class="fas fa-save"></i>
        <% end %>
      <% end %>
    </div>
    <div class="mx-5">
      <% if @box.persisted? %>
        <%= f.text_field :name, class: "w-11/12 my-1 bg-transparent outline-none border #{"border-none" if @box.name.present? }", style: "border-color: #{border_color_transformed(@box.color)}", data: { reflex: "change->BoxesReflex#submit", signed_id: @signed_id } %>
      <% else %>
        <%= f.text_field :name, class: "w-full block my-1 bg-transparent outline-none border", style: "border-color: #{border_color_transformed(@box.color)}" %>
      <% end %>
      <%= f.fields_for :boxable, @box.boxable do |boxable_form| %>
        <% if @box.persisted?%>
          <%= boxable_form.rich_text_area :rich_text, class: "bg-transparent w-full h-full #{"border-none" if @box.boxable.rich_text.body&.to_plain_text.present? }", style: "border-color: #{border_color_transformed(@box.color)}", data: { reflex: "input->BoxesReflex#submit", signed_id: @signed_id } %>
        <% else %>
        <%= boxable_form.rich_text_area :rich_text, class: "bg-transparent w-full h-full", style: "border-color: #{border_color_transformed(@box.color)}" %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>