<p id="notice"><%= notice %></p>

<section class="flex justify-center align-middle flex-wrap">
  <div class="pb-5 pt-1 text-white m-2 w-96 flex flex-col justify-between" data-controller="boxes" style="background-color: #f05252">
    <div class="flex align-bottom flex-wrap justify-between mr-2 ml-2">
      <input type="color" value="#f05252" class="w-5 bg-red-500 mr-2" data-target="boxes.boxColor">
      <a href="#" data-action="click->boxes#createBox" ><i class="fas fa-save"></i></a>
    </div>
    <div contenteditable data-target="boxes.boxName" class="ml-5 mt-1 mr-5 mb-1 font-bold border-red-400 border-2" style="border-color: <%= border_color_transformed("#f98080") %>"></div>
    <div contenteditable data-target="boxes.noteContent" class="ml-5 mr-5 h-full border-red-400 border-2"></div>
  </div>
  <% @boxes.each do |box| %>
    <div class="pb-5 pt-1 m-2 w-96 flex flex-col justify-between" data-controller="boxes" style="<%= "background-color: #{box.color}; color: #{text_color_transformed(box.color)}" %>">
      <div class="flex align-bottom flex-wrap justify-between mr-2 ml-2">
        <input type="color" data-id="<%= box.id %>" value="<%= box.color %>" class="w-5 mr-2" data-action="input->boxes#updateBoxColor" data-target="boxes.boxColor" style="<%= "background-color: #{box.color}" %>">
        <div>
          <a href="#" data-id="<%= box.id %>%" ><i class="fas fa-angle-up"></i></a>
          <a href="#" data-id="<%= box.id %>%" ><i class="fas fa-angle-double-up"></i></a>
          <a href="#" data-id="<%= box.id %>%" ><i class="fas fa-angle-double-down"></i></a>
          <a href="#" data-id="<%= box.id %>%" ><i class="fas fa-angle-down"></i></a>
        </div>
        <a href="#" data-reflex="click->BoxesReflex#delete_box" data-id="<%= box.id %>%" ><i class="fas fa-times"></i></a>
      </div>
      <div contenteditable data-action="input->boxes#updateBoxName" data-id="<%= box.id %>" data-target="boxes.boxName" class="ml-5 mt-1 mr-5 mb-1 font-bold <%= "border-2" if box.name.blank? %>" style="border-color: <%= border_color_transformed(box.color) %>" data-color="<%= box.color %>"><%= box.name %></div>
      <div contenteditable data-action="input->boxes#updateNoteContent" data-id="<%= box.boxable.id %>" data-target="boxes.noteContent" class="ml-5 mr-5 h-full <%= "border-2" if box.boxable.content.blank? %>" style="border-color: <%= border_color_transformed(box.color) %>"><%= box.boxable.content %></div>
    </div>
  <% end %>
</section>
