<!DOCTYPE html>
<html>
  <head>
    <title>LabV3</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

  <body class="bg-gray-100">
    <%= render partial: "layouts/navbar" %>
    <%= render partial: "layouts/notif", locals: { color: "teal", message: notice } if notice %>
    <%= render partial: "layouts/notif", locals: { color: "red", message: alert } if alert %>
    <%= yield %>
    <footer class="fixed left-0 bottom-0 text-center w-full border-t-2 border-gray-400 round">© 2020 LAB, Inc.</footer>
  </body>
</html>
